
*{
    box-sizing:border-box;
    background-color:black;
}

.row{
    width:100%;
    
}
.space{
    height:28px;
    width:100%;
   
}
.space1{
    height:72px;
    width:100%;
}
.Title_row{
    width:400px;
    height:72px;
    padding-left:72px;
    float:left;
}
.Icon_logo{
    width:72px;
    height:72px;
    float:left;
}
.logo{
    margin:4px;
}
.Movie_hub{
    width:200px;
    height:50px;
    float:left;
    margin:12px 0px 12px 5px;
    
}
.ac{
    font-size:30px;
    color:white;
    margin:5px;
}

.Frame{
    float:right;
    width:200px;
    height:30px;
    margin:16px 80px 16px 0px;
}
.text{
    color:white;
    margin:4px;
}
.Watch{
    width:65px;
    height:30px;
    float:left;
    
    
}
.Add_movie{
    width:100px;
    height:30px;
    float:right;
}
.space6{
    height:28px;
    width:100%;
    border-bottom:solid 2px red;
}

.space2{
    height:28px;
    width:100%;
}
.space3{
    height:40px;
    width:100%;
}
.space4{
    height:30px;
    width:100%;
}
.Watch_text{
    width:310px;
    height:30px;
    float:left;
}
.Watch_data{
    width:56px;
    height:30px;
   
}
.text1{
    color:white;
    margin:0px;
}
.space5{
    width:1817px;
    height:28px;
    float:left;
    
}
.data_row{
    
    width:1000px;
    height:277px;
    border:solid 1px red;
    margin: auto;
    margin-bottom:12px;
    
}
.movie_image{
    width:220px;
    height:255px;
    border:solid 1px red;
    float:left;
    
}
.imge{
    
}

.movie_detail{  
    width:775px;
    height:255px;
    float:left;
    border:solid 1px red;
}
.text2{
    color:white;
    margin:12px;
    font-size:30px;
}


