*{
  box-sizing:border-box;
}

.row{
    background-color: black;
    height: 128px;
    
}
.space{
    height:28px;
}
.space1{
    height:72px;
}
.Title_row{
    width:400px;
    height:72px;
    padding-left:72px;
    float:left;
}
.Icon_logo{
    width:72px;
    height:72px;
    float:left;
}
.logo{
    margin:4px;
}
.Movie_hub{
    width:200px;
    height:50px;
    float:left;
    margin:12px 0px 12px 5px;
    
}
.ac{
    font-size:30px;
    color:white;
    margin:5px;
}

.Frame{
    float:right;
    width:200px;
    height:30px;
    margin:16px 80px 16px 0px;
}
.text{
    color:white;
    margin:4px;
}
.Watch{
    width:65px;
    height:30px;
    float:left;
    
    
}
.Add_movie{
    width:100px;
    height:30px;
    float:right;
}
.space6{
    height:28px;
}
.space2{
    height:28px;
    background-color: black;
}
.space3{
    height:40px;
    background-color: black;
}
.space4{
    height:30px;
    background-color: black;
}
.Watch_text{
    width:216px;
    height:30px;
    background-color: black;
    float:left;
}
.Watch_data{
    width:56px;
    height:30px;
   
}
.text1{
    color:white;
    margin:0px;
}
.space5{
    height:28px;
    background-color: black;
}
